.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  float: right;
  position: relative;
  margin: auto;
}

.ccd {
    overflow: hidden;
    position: relative;
    display: inline-block;
}
 
a.ddott {
    display: inline-block;
    text-transform: uppercase;
    line-height: 50px;
    height: 50px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 100px 0 #FFF,1px 76px 10px #000;
    color: #000;
    background: #C3FEFB;
    border-right: 2px solid #FFF;
    border-left: 2px solid #FFF;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding-right: 300px;
}
a.ddott:hover {
    text-shadow: 0 50px 0 #FFF, 1px 51px 20px #FFF;
    margin-top: -50px;
    height: 100px;
    background: #222;
}

body {
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: top-center;
    background-repeat: no-repeat;
}   